/* GLOBAL STYLES
---------------------------------*/
* {             /*reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /** Global variables **/
    --almost-black: #191716;
    --almost-black-transparent: #191716e1;
    --dark-gray: #292929;
    --dark-gray-transparent: #292929f8;
    --almost-white: #EEE5E9;
    --almost-white-transparent: rgba(238, 229, 233, 0.452);
    --footer-green: #5F634F;
    --link-blue: #5DA9E9;
    --interaction-red: #FF6F59;
    --main-font-family: 'Mukta Mahee', sans-serif;

    font-size: calc(16.4px + 0.194vw);  /* ranges from 17px (at 320px width) to 19px (1350px) */
}

body {
    background-color: var(--dark-gray);
    color: var(--almost-white);
    font-family: var(--main-font-family);
}

p {
    margin: 1em 0;
    font-size: 1rem;
    line-height: 1.7;
}

h1 {
    color: var(--almost-white);
}

a,
a:visited {
    color: var(--link-blue);
}

/* NAVIGATION
---------------------------------*/
html {
    --nav-height: 3.6rem;
    --mobile-menu-height: 40vh;
    --mobile-menu-item-height: calc(var(--mobile-menu-height) / 5);
}

body>header {
    height: var(--nav-height);
    position: sticky;
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--almost-black);
}

body>header h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.04em;
    line-height: 1.2em;
    padding: 0 0.5rem;
    text-transform: uppercase;
}

nav {
    flex-grow: 2;
    font-weight: normal;
    text-transform: uppercase;
}

nav i {
    display: none!important;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    font-size: 1.1rem;
    letter-spacing: 0.07em;
    height: var(--nav-height);
    padding: 0 0.6rem;
    line-height: var(--nav-height);
    list-style: none;
}
nav ul li:hover {
    background-color: var(--dark-gray);
    padding: 0 4%;
}
nav ul li:active {
    font-size: 1em;
}

nav ul li a, 
nav ul li a:visited {
    text-decoration: none;
    color: var(--almost-white);
}
nav ul li:hover a,
nav ul li:hover a:link,
nav ul li:hover a:visited,
nav ul li:hover a:hover,
nav ul li:hover a:active {
    color: var(--interaction-red);
}

@media (max-width: 768px) {
    body>header h1 {
        font-size: 1.1rem;
    }
    nav ul li {
        font-size: 1rem;
    }
    nav ul li:active {
        font-size: 0.9rem;
    }
}

@media (max-width: 568px) {
    html {
        --nav-height: 52px;
    }

    body>header {
        width: 100vw;
        position: fixed;
        top: unset;
        bottom: 0;
        display: grid;
        justify-content: unset;
        grid-template-columns: 3fr 1fr 3fr;
        align-items: center;
        justify-items: center;
    }

    body>header h1 {
        flex-grow: unset;
        text-align: center;
        font-size: 1rem;
    }

    nav {
        flex-grow: unset;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    nav::before {       /* Needed to make menu shift BEHIND navbar */
        content: "";
        width: 100vw;
        height: var(--nav-height);
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--almost-black);
        z-index: -1;
    }

    nav i {
        display: block!important;
        text-align: center;
        width: 100%;
        font-size: calc(0.5 * var(--nav-height));
    }
    nav i:hover {
        cursor: pointer;
        color: var(--interaction-red);
    }

    nav ul {
        height: var(--mobile-menu-height);
        position: fixed;
        left: 0;
        bottom: calc(-1 * var(--mobile-menu-height));
        width: 100vw;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--almost-black);
        transition: bottom 0.7s;
        z-index: -2;
    }

    .menu-transition-end {
        bottom: var(--nav-height);
    }
    
    nav ul li {
        height: var(--mobile-menu-item-height);
        line-height: var(--mobile-menu-item-height);
        font-size: calc(var(--mobile-menu-item-height) * 0.4);
        padding: unset;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;
    }
    nav ul li:active {
        font-size: calc(var(--mobile-menu-item-height) * 0.35);
    }
}

/* SHARED SECTION STYLES
---------------------------------*/
html {
    --page-side-padding: 15vw;
    --section-bottom-padding: 2rem;
    --headings-height: 5rem;
    --headings-top-padding: 2rem;
    --headings-border-bottom: 2px;
}

.portfolio,
.resume,
.about,
footer {
    position: relative;
}
.anchor {
    position: absolute;
    top: calc(-1 * var(--nav-height) + var(--headings-top-padding));
}

.portfolio>header,
.resume>header,
.about>header,
footer h1 {
    height: var(--headings-height);
    line-height: calc(var(--headings-height) - var(--headings-border-bottom) - var(--headings-top-padding));
    position: sticky;
    top: calc(var(--nav-height) - var(--headings-top-padding));
    z-index: 10;
    padding-top: var(--headings-top-padding);
}

.portfolio>header h1,
.resume>header h1,
.about>header h1,
footer h1 {
    font-size: 1.75rem;
    font-weight: 700;
}

.portfolio>header,
.resume>header,
.about>header {
    padding-left: var(--page-side-padding);
    padding-right: var(--page-side-padding);
    background-color: var(--dark-gray);
}

.portfolio>.padding,
.resume>.padding,
.about>.padding,
footer {
    padding: 0 var(--page-side-padding) var(--section-bottom-padding);
}

.about h2,
.resume h2,
footer h2 {
    margin-top: 4vh;
    margin-bottom: 2vh;
}

@media (max-width: 768px) {
    html {
        --page-side-padding: 10vw;
    }
}

@media (max-width: 568px) {
    html {
        --headings-height: var(--nav-height);
        --page-side-padding: 6vw;
    }

    .portfolio>header,
    .resume>header,
    .about>header,
    footer h1 {
        padding-top: 0;
    }

    .portfolio>header h1,
    .resume>header h1,
    .about>header h1,
    footer h1 {
        width: 100%;
        height: 100%;
        line-height: var(--headings-height);
    }

    .anchor {
        top: 0;
    }
    
    .portfolio>header,
    .resume>header,
    .about>header,
    footer h1 {
        top: 0;
    }    
}

@media (max-width: 414px) {
    html {
        --page-side-padding: 15px;
    }
}

/* Home
---------------------------------*/
.home-background {
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    align-items: center;
    background-color: #080808;
    background-image: url(img/home-background.gif);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-y: 100%;
}

.home {
    font-size: 1.2rem;
    margin-left: 40%;
    margin-right: var(--page-side-padding);
    font-size: 1.2rem;
    
}

.home p {
    font-size: 1em;
}

@media (max-width: 1200px) {
    .home {
        font-size: 1.1rem;
    }
}

@media (max-width: 1025px) {
    @media (min-aspect-ratio: 1/1) {
        .home-background {
            background-position-x: calc(-0.3 * (1005px - 100vw));
        }
        .home {
            margin-left: 45%;
            font-size: 1rem;
        }
    }
    @media (max-aspect-ratio: 1/1) {
        .home-background {
            background-size: auto 60%;
            transform: scaleX(-1);
            align-items: start;
        }
        .home {
            margin-top: var(--page-side-padding);
            margin-left: var(--page-side-padding);
            font-size: 1.2rem;
            transform: scaleX(-1);
        }
    }
}

@media (max-width: 700px) {
    .home {
        font-size: 1rem;
    }
}

@media (max-width: 444px) and (max-height: 750px) {
    .home-background {
        background-size: auto 40%;
    }
}

/* Portfolio
---------------------------------*/
html {
    --portfolio-columns: 3;
}

@media (max-width: 1121px) {
    html {
        --portfolio-columns: 2;
    }
}

@media (max-width: 645px) {
    html {
        --portfolio-columns: 1;
    }
}

.portfolio>header h1 {
    text-align: right;
    border-bottom: solid var(--headings-border-bottom);
}

.portfolio>.padding {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-container {
    margin: 2vh auto;
    display: grid;
    grid-template-columns: repeat(var(--portfolio-columns), minmax(250px, 350px));
    column-gap: 1rem;
    row-gap: 1rem;
}

.project-background {
    min-width: 250px;
    max-width: 350px;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 1px 1px var(--almost-black);
}

.project-background img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.project-info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    background-color: var(--dark-gray-transparent);
    transition: 0.7s ease;
    z-index: 2;
}
.project-background:hover .project-info {
    top: 0%;
}

.project-info h2 {
    height: 21%;
    padding: calc((11.8% - 18px) / 2) 0;   /* Center vertically based on aspect ratio and padding % behaviour */
    line-height: 1em;
    font-size: 19px;
    text-align: center;
    background-color: var(--almost-black-transparent);
}

.project-details {
    padding: 0 0.79em;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-details p {
    margin: 0;
    font-size: 16px;
    line-height: 1.2em;
    text-align: center;
}

.project-details p a {
    display: inline-block;
    line-height: 1.5em;
    width: 170px;
    height: 100%;
    border-radius: 5px;
}
.project-details p a:hover {
    background-color: var(--interaction-red);
    color: var(--almost-black);
    text-decoration: none;
    font-weight: 800;
}

/* Resume
---------------------------------*/
.resume {
    background-color: var(--almost-white);
    color: var(--almost-black);
}

.resume>header h1 {
    text-align: center;
}

.resume .main-content {
    max-width: 600px;
    margin: 0 auto;
}

.resume h2 {
    text-align: right;
    border-bottom: var(--almost-black) solid var(--headings-border-bottom);
}

.resume h3 {
    margin-top: 1rem;
}

.resume .period-company {
    text-align: right;
    font-style: italic;
}

.resume a,
.resume  a:visited {
    color: var(--almost-black);
    text-decoration: underline;
}
.resume a:hover {
    background-color: var(--link-blue);
    padding: 0 0.5vw;
}

.resume .skills {
    margin-bottom: 0;
    text-decoration: underline;
}

.resume ul li {
    margin-left: 20px;
}

.resume .education h3+p {
    margin-top: 0;
}

/* About
---------------------------------*/
.about>header h1 {
    text-align: right;
    border-bottom: var(--headings-border-bottom) solid;
}

.about section {
    max-width: 600px;
    margin: 0 auto;
}

.about h2 {
    text-align: left;
    color: var(--almost-white);
    border-bottom: var(--almost-white) solid var(--headings-border-bottom);
}

/* Contact
---------------------------------*/
footer {
    background-color: var(--footer-green);
}
    
footer h1 {
    text-align: center;
    border-bottom: var(--headings-border-bottom) solid;
    background-color: var(--footer-green);
}

footer .columns {
    display: grid;
    grid-template-columns: minmax(320px, 1fr) minmax(320px, 1fr);
    column-gap: 3vw;
}

footer h2 {
    font-size: 1.3rem;
    text-align: center;
}

footer .contact-message {
    padding: 2%;
}

footer form {
    display: flex;
    flex-direction: column;
}

footer form label {
    text-align: right;
    font-size: 1.1rem;
}

footer form input, footer form textarea {
    margin-bottom: 1rem;
    font-family: inherit;
    font-size: inherit;
    color: var(--almost-white);
    background-color: inherit;
    border: var(--headings-border-bottom) solid var(--almost-white)!important;
    border-radius: 5px;
}

footer form input {
    width: 80%;
    height: 2em;
    padding: 0 0.5rem;
    text-align: right;
    margin-left: 20%;
}

footer form textarea {
    width: 100%;
    height: 8em;
    padding: 0.25em 0.5em;
    line-height: 1.4em;
}

footer form input:focus, footer form textarea:focus {
    background-color: var(--almost-white-transparent);
    color: var(--almost-black);
    outline: none;
}

footer form button {
    width: 5em;
    margin: 0 auto;
    background-color: var(--almost-white-transparent);
    border: 2px outset var(--almost-white);
    font-size: inherit;
    font-family: inherit;
    color: var(--dark-gray);
    font-weight: 600;    
}
footer form button:active {
    border: 2px inset var(--almost-white);
    outline: none;
}

footer address {
    padding: 2%;
    font-style: normal;
    text-align: center;
}

address div {
    margin: 2rem 20% 0;
    font-size: 1.1rem;
    border-radius: 20px;
}
address div:hover {
    background-color: var(--almost-white-transparent);
    color: var(--dark-gray);
}

@media (max-width: 1024px) {
    address div {
        border-radius: 16px;
    }
}

@media (max-width: 768px) {
    address div {
        border-radius: 12px;
    }
}

address div p {
    margin: 0;
}

address .icon {
    font-size: 1.6rem;
}

address a,
address a:link, 
address a:visited, 
address a:hover, 
address a:active {
    color: inherit;
    text-decoration: none;
}

footer .license {
    margin: 0;
    text-align: center;
    line-height: 2.5em;
    border-top: 1px solid var(--almost-white);
    position: relative;
    top: var(--section-bottom-padding);
}

@media (max-width: 980px) {
    footer .columns {
        display: block;
        min-width: 320px;
        max-width: 500px;
        margin: 0 auto;
    }

    footer .columns>* {
        margin: 3rem 0;
    }

    address {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    address h2 {
        width: 100%;
    }

    address a {
        width: 33%;
    }

    address div {
        margin: 1rem 1rem 0;
    }

    address div p:last-child {
        line-height: 1.3em;
    }
}

@media(max-width: 580px) {
    footer .license {
        padding-bottom: var(--nav-height);
    }
}

/* Contact form redirection page
---------------------------------*/
.redirection {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redirection p {
    font-size: 1.7em;
}