/* ESQUEMA DE COLORES
-Negro más claro: #191716 (eerie black)
-Azul brillante: #064789 (dark cerulean)
-Azul pastel: #427AA1 (queen blue)
-Rojo fuego: #E4572E (flame)
-Blanco grisaceo: #F6EFEE (isabelline) // cambiado a #EEE5E9 porque era demasiado contraste
-linkhover: #979797

FUENTES
font-family: 'Alfa Slab One', cursive;
font-family: 'Mukta Mahee', sans-serif;
*/

/* GLOBAL STYLES
---------------------------------*/
* {             /*reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: calc(10px + 0.586vw);   /*from 18px (my laptop) down*/
}

body {
    background-color: #292929;
    color: #EEE5E9;
    font-family: 'Mukta Mahee', sans-serif;
}

a {
    color: #5DA9E9;
}
a:visited {
    color: #5DA9E9;
}

body>header {
    height: 3.6rem;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#191716;
}

body>header h1 {
    display: inline-block;
    font-size: calc(1rem + 1vw);
    font-weight: 800;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #EEE5E9;
}

nav {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    height: 3.6rem;
    padding: 0 1vw;
    display: inline-block;
    line-height: 3.6rem;
    list-style: none;
}
nav ul li:hover {
    background-color: #292929;
    padding: 0 4%;
}
nav ul li:active {
    font-size: 1.2rem;
}

nav ul li a, 
nav ul li a:visited {
    text-decoration: none;
    color: #EEE5E9;
}
nav ul li:hover a,
nav ul li:hover a:link,
nav ul li:hover a:visited,
nav ul li:hover a:hover,
nav ul li:hover a:active {
    color: #FF6F59;
}



.portfolio,
.resume,
.about {
    position: relative;
}
.anchor {
    position: absolute;
    top: -3.6rem;
}

p {
    margin: 1em 0;
}

h1 {
    color: #EEE5E9;
}


/* Shared styles
---------------------------------*/
.portfolio>header,
.resume>header,
.about>header {
    height: 3rem;
    line-height: calc(3rem - 2px);
    padding: 0 15vw;
    position: sticky;
    top: 3.6rem;
    z-index: 1;
    background-color: #292929;
}

.portfolio>header h1,
.resume>header h1,
.about>header h1,
footer h1 {
    font-size: 1.75rem;
    font-weight: 700;
}

/* Home
---------------------------------*/
.home {
    width: 50vw;
    margin: 0 15vw 0 35vw;
    background-clip: border-box;
    font-size: 1.2rem;
}

.home-background {
    height: calc(100vh - 3.6rem);
    display: flex;
    align-items: center;
    background-color: black;
    background-image: url(https://www.wallpaperflare.com/static/722/863/753/men-face-black-simple-background-wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20vw;
}

/* Portfolio
---------------------------------*/
.portfolio {
    min-height: 90vh;           /*only for desktop aspect ratios*/
    margin-bottom: 3vh;
}

.portfolio>header h1 {
    text-align: right;
    border-bottom: solid 2px;
}

.portfolio>.padding {
    padding: 0 15vw;
}

.portfolio>p {
    font-size: 1rem;
    line-height: 1.4em;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5vw;
    row-gap: 1.5vw;
    font-size: 1rem;
    line-height: 1em;
}

.project-background {
    font-size: 1.3vw;
    width: 16.39em;
    height: 9.22em;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 1px 1px #191716;
}

.project-background img {
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.project-info,
.project-info:link,
.project-info:visited,
.project-info:hover,
.project-info:active {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    background-color: #292929f1;
    color: #EEE5E9;
    text-decoration: none;
    cursor: pointer;
    transition: 0.7s ease;
    z-index: 2;
}
.project-background:hover .project-info {
    top: 0%;
}

.project-info h3 {
    height: 29px;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    background-color: #292929;
}

.project-info ul {
    margin: 0 12px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-info li {
    font-size: 0.85rem;
    margin-left: 20px;
}

/* Resume
---------------------------------*/
.resume {
    background-color: #EEE5E9;
    color: #191716;
}

.resume>header h1 {
    text-align: center;
}

.resume>.padding {
    padding: 0 15vw 5vh;
}

.resume .main-content {
    max-width: 600px;
    margin: 0 auto;
}

.resume .main-content h2 {
    margin-top: 4vh;
    margin-bottom: 2vh;
    text-align: right;
    border-bottom: #191716 solid 2px;
}

.resume .period-company {
    text-align: right;
    font-style: italic;
}

.resume a,
.resume  a:visited {
    color: #191716;
    text-decoration: underline;
}
.resume a:hover {
    background-color: #5DA9E9;
    padding: 0 0.5vw;
}

.resume .skills {
    margin-bottom: 0;
    text-decoration: underline;
}

.resume ul li {
    margin-left: 20px;
}

.resume .education h3+p {
    margin-top: 0;
}

/* About
---------------------------------*/
.about>header h1 {
    text-align: right;
    border-bottom: 2px solid;
}

.about section {
    max-width: 600px;
    margin: 0 auto;
}

.about h2 {
    margin-top: 4vh;
    margin-bottom: 2vh;
    text-align: left;
    color: #EEE5E9;
    border-bottom: #EEE5E9 solid 2px;
}

/* Contact
---------------------------------*/

footer {
    padding: 0 15vw;
    background-color: #5F634F;
    position: relative;
}

footer h1 {
    text-align: center;
    border-bottom: 2px solid;
    position: sticky;
    top: 3.6rem;
    z-index: 1;
    background-color: #5F634F;
}

footer .columns {
    display: grid;
    grid-template-columns: minmax(320px, 1fr) minmax(320px, 1fr);
    column-gap: 40px;
}

footer h2 {
    font-size: 1.3rem;
    text-align: center;
}

footer .contact-message {
    padding: 2%;
}

footer form {
    display: flex;
    flex-direction: column;
}

footer form label {
    text-align: right;
    font-size: 1.1rem;
}

footer form input, footer form textarea {
    margin-bottom: 1rem;
    font-family: inherit;
    font-size: inherit;
    color: #EEE5E9;
    background-color: inherit;
    border: 2px solid #EEE5E9!important;
    border-radius: 5px;
}

footer form input {
    width: 80%;
    height: 2em;
    padding: 0 0.5rem;
    text-align: right;
    margin-left: 20%;
}

footer form textarea {
    width: 100%;
    height: 8em;
    padding: 0.25em 0.5em;
    line-height: 1.4em;
}

footer form input:focus, footer form textarea:focus {
    background-color: rgba(238, 229, 233, 0.452);
    color: #191716;
    outline: none;
}

footer form button {
    width: 5em;
    margin: 0 auto;
    background-color: rgba(238, 229, 233, 0.452);
    border: 2px outset #EEE5E9;
    font-size: inherit;
    font-family: inherit;
    color: #292929;
    font-weight: 600;    
}
footer form button:active {
    border: 2px inset #EEE5E9;
    outline: none;
}

.kw-message-110293 {
    display: none!important;
}
.help.is-danger-110293 {
    margin: -1rem 0 0 0!important;
    color: #FF6F59!important;
    font-size: 0.8em!important;
    text-align: right!important;
}
.kw-credit {
    float: right;
}

footer address {
    padding: 2%;
    font-style: normal;
    text-align: center;
}

address div {
    margin: 2rem 20% 0;
    font-size: 1.1rem;
    border-radius: 20px;
}
address div:hover {
    background-color: #5DA9E9;
}

address div p {
    margin: 0;
}

address .icon {
    font-size: 1.6rem;
}

address a,
address a:link, 
address a:visited, 
address a:hover, 
address a:active {
    color: inherit;
    text-decoration: none;
}

footer .license {
    margin: 0;
    text-align: center;
    line-height: 2.5em;
    border-top: 1px solid #EEE5E9;
}